<div class="card">
  <!-- Display Mode -->
  <div class="details" *ngIf="!isEditing">
    <h3 class="id">ID: {{medication.id}}</h3>
    <p class="name">NAME: {{medication.name}}</p>
  </div>

  <!-- Edit Mode -->
  <div class="edit-form" *ngIf="isEditing">
    <label for="name">Name:</label>
    <input type="text" [(ngModel)]="medication.name" id="name" />
    <button type="button" class="btn" (click)="onSave()">Done</button>
  </div>

  <!-- Action Buttons -->
  <div class="buttons">
    <button type="button" class="btn" (click)="onEdit()">Update</button>
    <button type="button" class="btn delBtn" (click)="onDelete()">Delete</button>
  </div>
</div>
