/* doctor.component.css */

h2 {
  text-align: center;
}

.search-container {
  margin-bottom: 20px;
  text-align: center;
}

.search-container input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

/* Card Styling */
.card {
  display: flex;
  flex-direction: column;
  width: 300px; /* Fixed width for the rectangular shape */
  min-height: 200px; /* Ensure height is less than width */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Hover effect for card */
.card:hover {
  background-color: #f0f0f0; /* Slightly lighter background on hover */
  transform: translateY(-5px); /* Lift effect */
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.pagination-controls button {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  border: 2px solid #333; /* Darker border */
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0 0.2rem;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.pagination-controls button:hover:not(:disabled) {
  background-color: #333; /* Darker shade on hover */
  border-color: #000; /* Border color on hover */
}

.pagination-controls button.active {
  background-color: #666; /* Active button background */
  border-color: #666; /* Active button border */
  font-weight: bold;
}

.pagination-controls button:disabled {
  background-color: #444; /* Disabled button background */
  border-color: #222; /* Disabled button border */
  color: #888; /* Disabled button text color */
  cursor: not-allowed;
}

