<div class="card">
  <div class="details" *ngIf="!isEditing">
    <h3 class="id">ID: {{ spec.id }}</h3>
    <p class="name">Name: {{ spec.name }}</p>
  </div>
  
  <div class="edit-form" *ngIf="isEditing">
    <label for="name">Name:</label>
    <input type="text" [(ngModel)]="spec.name" id="name" />
    <button type="button" class="btn" (click)="onSave()">Done</button>
  </div>
  
  <div class="buttons">
    <button type="button" class="btn" (click)="onEdit()">Update</button>
    <button type="button" class="btn delBtn" (click)="onDelete()">Delete</button>
  </div>
</div>
